h1{
	color: #b91133;
	font-family: courier;
	margin-left: 200px;
}

body{
	background-color: #f8e7ea;
}

#color_area{
	width: 504px;
	float: left;
	border: 1px solid gray;
	background-color: white;
	cursor: default;
}

.small_box {
	width: 7px;
	height: 7px;
	float: left;
}

#palette {
	width: 66px;
	display: inline-block;
	padding: 5px;
}

.swatch {
	width: 22px;
	height: 22px;
	overflow: hidden;
	float: left;
}

button {
	margin-left: 5px;
}



