h1{
	color: #b91133;
	font-family: courier;
	margin-left: 200px;
}

body{
	background-color: #f8e7ea;
}

#color_area{
	width: 500px;
	height: 400px;
	float: left;
	border: 1px solid gray;
	background-color: white;
	cursor: default;
}

.small_box {
	width: 10px;
	height: 10px;
	float: left;
}



